<div id="new_user_modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close cancel_user_creation" aria-hidden="true">&times;</button>
        <h4 class="modal-title">New user</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12 error-massages" id="user_errors">
            <!-- error messages will come here -->
          </div>
          <div class="col-sm-12">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->