@import "bootstrap_override";

//sticky footer start
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -4em;
}
.footer, .push {
    height: 4em;
}

.footer, .push {
    clear: both;
}
//sticky footer end

.brand-color{
    background-color: $navbar-inverse-bg; 
} 

#bottom {
    color: #bdc3c7;
    padding: 25px 0;
}
#bottom h4 {
    margin-top: 0;
    margin-bottom: 15px;
}
#bottom .media-heading {
    display: block;
    font-weight: 400;
}

#footer {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #bdc3c7;
}
#footer a {
    color: #bdc3c7;
}
#footer a:hover {
    color: #d9534f;
}
#footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer ul > li {
    display: inline-block;
    margin-left: 15px;
}
.footer-brand-color {
    background-color: $footer-brand-color;
}

.pathology_tests label {
    margin-bottom: 10px !important;
    font-weight: normal !important;
    margin-right: 10px !important;
}

.icon-style{
   width: 5% ;
}

.left-text{
    text-align: left;
}

.right-text{
    text-align: right;
}

.center-text{
    text-align: center;
}

.listing-search-row {
    border-bottom: 1px solid #d6d6d6;
    padding: 15px;
}

.border-top{
    border-top: 1px solid #d6d6d6;
}

.required{
    color: red;
    padding-left: 2em;
    font-size: 16;
}

.twitter-typeahead .form-control{
    padding: 6px 19px;
}

fieldset.scheduler-border {
    border: 1px groove;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    width: inherit; 
    padding: 0 10px; 
    border-bottom:none;
}

.widget-container {
    min-height: 320px;
    background: white;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
}

.widget-container .heading {
    background: rgba(255,255,255,0.94);
    height: 50px;
    padding: 15px 15px;
    color: #0096d7;
    font-size: 15px;
    width: 100%;
    font-weight: 400;
    margin: 0;
}


.widget-container .widget-content {
    width: 100%;
    min-height: 500px
}

.padded {
    padding: 15px;
}

.admin-button {
    margin-bottom: 20px;
    min-height: 200px;
    min-width: 200px;
}
