<footer id="footer" class="footer-brand-color">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        &copy; 2015 <a target="_blank" href="javascript:void(0)" title="service to humanity">Sky Inc.</a>. All Rights Reserved.
      </div>
      <div class="col-sm-6">
        <ul class="pull-right">
          <li><a href="javascript:void(0)">Home</a></li>
          <li><a href="javascript:void(0)">About Us</a></li>
          <li><a href="javascript:void(0)">Faq</a></li>
          <li><a href="javascript:void(0)">Contact Us</a></li>
          <li><a id="gototop" class="gototop" href="javascript:void(0)"><i class="icon-chevron-up"></i></a></li><!--javascript:void(0)gototop-->
        </ul>
      </div>
    </div>
  </div>
</footer>